/*Global*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.outer {
  max-width: 100%;
  overflow: hidden;
}

.wrap {
  max-width: 64rem;
  margin: 0 auto;
}

a {
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
}

.green {
  background-color: #becb00;
}

body, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

#header {
  background-color: #becb00;
}

.header-nav {
  border-bottom: 1px solid #000;
}

#main-nav {
  padding-bottom: 1rem;
}

button {
  padding: 1rem;
  width: 100%;
}

.menu_button {
  background: transparent;
  border: none;
  display: inline-block;
  text-align: left;
}

.menu_button img {
  height: auto;
  vertical-align: middle;
  width: 1.7rem;
}

.menu {
  font-size: 1.2rem;
  margin-left: 0.8rem;
}

#main-menu li {
  list-style-type: none;
}

#main-menu li a {
  color: #000;
  display: block;
  font-size: 1.6rem;
  padding: .8rem 3.5rem;
  text-decoration: none;
}

.social-nav {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

#social-menu li {
  list-style-type: none;
  width: 2rem;
}

.bb-logo {
  padding: 4rem 5.5rem;
}

.pp-logo {
  height: auto;
  padding-bottom: .5rem;
  text-align: center;
  width: 8rem;
}
