/* Globale Formatierungen */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.outer {
  max-width: 100%;
  overflow: hidden;
}

.wrap {
  max-width: 64rem;
  margin: 0 auto;
  /* padding: 0 1rem; */
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

h1, h2, h3 {
  font-weight: normal;
  margin-bottom: 1.2rem;
}

h1 {
  font-size: 2.2rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.9rem;
}

a {
  color: #000;
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
}

main .section {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.bg-black {
  background-color: #000;
  color: #fff;
}

.bg-green {
  background-color: #becb00;
}

header {
  padding: 1.5rem;
}
/* Globale Formatierungen Ende */

/* Spezifische Formatierungen */
/* Header */
.header-nav {
  border-bottom: 1px solid #000;
}

.menu-button {
  background: transparent;
  border: none;
  display: inline-block;
  text-align: left;
}

.symbol {
  height: auto;
  vertical-align: middle;
  width: 2rem;
}

.bb-logo {
  padding: 4rem;
}

.pp-logo {
  height: auto;
  padding-bottom: .5rem;
  text-align: center;
  width: 9rem;
}
